.web-components {
  align-items: flex-end;
  background-color: var(--bg--main-color);
  display: flex;
  flex-direction: column;
  height: 2950px;
  padding: 97px 94px;
  position: relative;
  width: 2134px;
}

.mobile-responsive-components {
  align-items: center;
  background-color: var(--bg--main-color);
  display: flex;
  flex-direction: column;
  height: 2231px;
  padding: 39px 23px;
  position: relative;
  width: 472px;
}

